.cmsWork{
  font-family: arial;
  font-size: 15px;
  border: 1px solid #ccc;
  .thead-color{
    background: #e6eaee;
    color: #242424;
  }
  tr{
    td{
      img{
          width: 100px;  
      }
      .categoryList{
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        li{
          margin-right: 6px;
          cursor: pointer;
          color:rgba(0, 0, 0, 0.715);
          &:hover{
            font-weight: bold;
            color:brown;
          }
        };
        li.active{
          font-weight: bold;
          color:brown;
        }
      }
    }
    td.id{
      font-size: 12px;
    }
    td.title{
      width: 23%;
      p{
        font-weight: bold;
        margin-bottom: 1px;
      }
      span{
        font-size: 12px;
      }
    }
  }

}

.miniForm{
  margin-bottom: 15px;
  h3{
    font-size: 18px;
    font-weight: bold;
  }

}